* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  padding: 20px;
}

.container {
  margin: 0 auto;
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 20px;
}

.main-container {
  width: 90vw;
}

.section {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;

}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1C2428;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.section-title {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.section-content {
  margin-top: 10px;
  background: #212B2F;
  border-radius: 8px;
  padding: 20px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid #333;
}

.table-header {
  border: none;
}

.table-header {
  color: #aaa;
  background: #212B2F;
  padding-left: 15px;
  padding-right: 15px;
}

.table-row span {
  color: #fff;
}

.file-tag {
  display: inline-block;
  background-color: #3b3b3b;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.status-icon-row {
  /* width: 20px; */
  /* height: auto; */
  margin-right: 5px;
}

.status-tag {
  padding: 3px 6px;
  background: rgb(62, 95, 44);
  border-radius: 10px;
}

.status-tag.status-tag-processing {
  background: #4E4C2D;
}

.action-icon {
  cursor: pointer;
}

.view-btn {
  width: 60px;
  border-radius: 5px 5px;
  background: #23514C;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-disable {
  pointer-events: none;
  opacity: 50%;
}

.actions {
  display: flex;
  gap: 5px;
}